/* -- WebChartControl -- */
.dxchartsuiLoadingDiv_Office2010Blue
{
	background-color:Gray;	
	opacity: 0.01;
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=1);
}
.dxchartsuiLoadingPanel_Office2010Blue
{
	font: 11px Verdana;
    color: #1e395b;
	border: 1px solid #859ebf;
	background: White;
}
.dxchartsuiLoadingPanel_Office2010Blue td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 10px 14px;
}

